<link href="/css/styles.css" rel="stylesheet" type="text/css">
<% include header.ejs %>
    <!-- Mashead header-->
    <header class="masthead">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">

                        <h1>
                            <%= title %>
                        </h1>
                        <!-- simbolo "-" sirve para que interprete la variable
    como si fuera código  ejemplo es un trozo de código ahora
    y se inyecta en el html como tal, si se usa el "="
    entonces lo trata como cadena de txto-->
                        <% addvertisements.forEach((ad)=>{ %>
                            <h3>
                                <%= ad.name %>
                            </h3>
                            <ul>
                                <% if(ad.forSale){ %>
                                    <li>
                                        <%= __('For sale') %>
                                    </li>
                                    <% }else{ %>
                                        <li>
                                            <%= __('Searching for') %>
                                        </li>
                                        <% } %>
                                            <li>Precio:
                                                <%= String(ad.price).replace('.', ',')+ad.priceUnit %>
                                            </li>
                                            <li>
                                                <%= __('Photo') %>:
                                                    <a href="/images/anuncios/<%= ad.photo %>">/images/anuncios/<%= ad.photo %></a>
                                            </li>
                                            <li>
                                                <img src="/images/anuncios/<%= ad.thumbnail %>">
                                            </li>
                                            <li>
                                                <%= __('Tags') %>:
                                                    <%= ad.tags.join(', ') %>
                                            </li>
                            </ul>


                            <%  }) %>
                    </div>
                </div>
            </div>
        </div>
    </header>