<% include header.ejs %>

    <!-- Call to action section-->
    <section class="">
        <div class="cta-content">
            <div class="container px-5">
                <form method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">
                            <%= __('Email address') %>
                        </label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= email %>" required>
                        <div id="emailHelp" class="form-text">
                            <%= __('We will never share your email with anyone else') %>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">
                            <%= __('Password') %>
                        </label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <%= __('Submit') %></button>
                    <div>
                        <%= error %>
                    </div>
                </form>
            </div>
        </div>
    </section>